
.title h2 {
    margin-bottom: 0.5rem;
    color: #007bff;
    text-align: center;

  }
  
  .title p {
    margin-bottom: 1.5rem;
    color: #666;
    font-size: 0.9rem;
    text-align: center;

  }