body{
  text-align: center;
}
.title h2 {
    margin-bottom: 0.5rem;
    color: #0681fd;

  }
  
  .title p {
    margin-bottom: 1.5rem;
    color: #666;
    font-size: 0.7rem;
    color: #0681fd;

  }