.container .password-strength{
    text-align: left;
  }


  
.password-strength p {
    margin: -12px 0 -16px 0;
    color: #f00;
    font-size: 0.79rem;

  }
  
.password-strength ul {
    list-style: none;
    padding: 0;
  }
  
.password-strength li {
    font-size: 0.75rem;
  }

.sign-up-form .checkboxes {
    text-align: left;
    margin-bottom: 0.3rem;
  }
  
.sign-up-form .checkboxes label {
    display: block;
    margin-bottom: 0.04rem;
    font-size: 0.75rem;
    color: #2469b3;
  }
    
  .sign-up-form .social-signup {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #eee;
    color: #333;
    border: 1px solid #0681fd;
    border-radius: 8px;
    font-size: 0.8rem;
    cursor: pointer;
  }
  
  