.profile-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  .profile-main-content {
    flex-grow: 1;
    margin-left: 250px; /* Adjust based on your sidebar width */
    padding: 20px;
    background-color: #f9f9f9;
    transition: margin-left 0.3s ease;
    overflow-y: auto;
  }
  
  .profile-main-content-full-width {
    margin-left: 0;
  }
  
  .profile-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: calc(100vh - 40px);
    overflow-y: auto;
  }
  
  .loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5em;
    color: #007bff; /* Primary color */
  }
  
  .profile-heading {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .profile-section {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .profile-section-heading {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #007bff; /* Primary color */
  }
  
  .profile-info {
    margin: 5px 0;
    line-height: 1.6;
  }
  
  .profile-info strong {
    color: #333;
  }
  
  .sidebar-show-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 15px;
    z-index: 1000;
  }
  
  .sidebar-show-button .show {
    width: 20px;
    height: 20px;
  }
  