.deboo-dashboard-main{
    margin-top: 80px;
}
.campaigns-header{
    padding: 20px;
    margin: 20px;
}
.campaigns-header h2{
    color: #007bff;

}
.campaigns-table {
    width: 100%;
    border-collapse: collapse;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 30px;
    margin: 20px;
  }
  
  
  .campaigns-table th, .campaigns-table td {
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    text-align: left;
    font-size: 12px;
  }