.admin-dashboard-container {
  display: flex;
  background-color: #f9f9f9;
  min-height: 100vh;
  transition: margin-left 0.3s ease;
}

.show-sidebar-btn {
  position: fixed;
  top: 40px;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.show-sidebar-btn img {
  width: 20px;
  height: 20px;
}

.show-sidebar-btn.hidden {
  display: none;
}

.admins-main-content {
  margin-left: 15rem;
  padding: 2rem;
  flex-grow: 1;
  transition: margin-left 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.admin-dashboard-container.sidebar-visible .admins-main-content {
  margin-left: 15rem;
}

.admin-dashboard-container:not(.sidebar-visible) .admins-main-content {
  margin-left: 2rem;
}

.admins-head {
  color: #029af8;
  font-size: 2rem;
  margin-bottom: 0.5rem; /* Reduce space between heading and paragraph */
  text-align: center;
}

.admins-container {

  text-align: center;
  width: 100%;
  max-width: 1000px;
  margin: 50px 0px 0px 50px;
  font-size: 0.95rem;
  color: rgb(59, 59, 59);
}
.admins-auth{
  margin: 50px 15%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
}
.admins-auth div{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.admins-auth img{
  align-items: center;
  display: block;
}
.admins-auth p{
  align-items: center;
}.admins-auth div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  padding: 25px 100px; /* Optional: Add some padding for spacing */
  transition: all 0.35s;
}
.admins-auth div:hover {
  transform: scale(1.1);
}

.admins-auth img {
  margin-bottom: 0px; /* Optional: Space between the image and the paragraph */
}

.admins-auth p {
  text-align: center; /* Center the text within the paragraph */
}
.admin-dashboard-charts {
  margin-top: 20px;
  display: flex;
  gap: 20px; /* Adjust the spacing between charts as needed */
  margin-bottom: 20px;
}

.admin-dashboard-charts > div {
  flex: 1;
}
